@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;

  --color-primary: #8d5367;
  --color-primary-container: #fdb5cc;
  --color-on-primary-container: #653245;
  
  --color-secondary: #00725d;
  --color-secondary-container: #98f4d9;
  --color-on-secondary-container: #005d4c;
  
  --color-tertiary: #34698c;
  --color-tertiary-container: #a5d8ff;
  --color-on-tertiary-container: #0d4c6d;
  
  --color-surface: #fffbff;
  --color-surface-container: #fbf4d2;
  --color-surface-container-low: #fffae4;
  --color-surface-container-highest: #efe9c3;
  --color-surface-container-lowest: #ffffff;
  
  --color-on-surface: #3b3824;
  --color-on-surface-variant: #68654e;

  --radius-xl: 3rem;
  --radius-lg: 2rem;
}

@layer base {
  body {
    @apply bg-surface text-on-surface font-sans;
  }
}

.marshmallow-shadow {
  box-shadow: 0 12px 32px -4px rgba(59, 56, 36, 0.06);
}

.hero-shadow {
  box-shadow: 0 32px 64px -12px rgba(141, 83, 103, 0.4);
}

